[Unit]
Description=Correlator Script for Wazuh and Snort Logs
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/correlate.py
WorkingDirectory=/root
StandardOutput=journal
StandardError=journal
User=root
Group=root
Restart=always
RestartSec=10
TimeoutSec=300

[Install]
WantedBy=multi-user.target
